* {
  padding: 0 0;
  margin: 0 0;
  /*scroll-behavior: smooth;*/
}

html {
  font-size: 12px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

nav {
  background: #fff;
  border-bottom: 5px solid #fff;
  height: 5em; /* 60px */
  width: 100%;
  position: fixed;
  z-index: 10;
  box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.5);
}

nav ul {
  /*border: 2px solid blue;*/
  /*height: 5em; /* 60px */
  width: fit-content;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

nav li,
nav a {
  /*border: 2px solid green;*/
  color: #000;
  display: inline-block;
  /*height: 5em; /* 60px */
  /*line-height: 5em; /* 60px */
  padding: 2px 10px;
  list-style: none;
  transition: background 0.5s;

  font-family: "Oswald", sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

nav .active {
  color: #13aff0;
  text-decoration: underline;
  cursor: pointer;
}

nav a:hover:not(.active),
nav li:hover:not(.active) {
  color: #269ed0;
  cursor: pointer;
  transition: background 0.5s;
}

/*
header a:hover {
    background: #0a50a7;
    cursor: pointer; 
    transition: background .5s;  
  }
*/

.home {
  text-align: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.home .backgroundImage {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/circuitboard.jpg") center center no-repeat;
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100%;
  filter: blur(3px);
  transform: scale(1.02);
  margin: 0 0;
  padding: 0 0;
}

.home .container {
  /*border: 2px solid blue;*/
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*width: 500px; /* 500px*/
}

.home h1 {
  /*font-size: 40px;*/
  font-size: 3.5em;
}
.home p {
  font-size: 1.7em; /*20px*/
  font-weight: 400;
}

.home img {
  border-radius: 50%;
  height: 13em; /* 150 px*/
  box-shadow: 0px 0px 20px 1px black;
}

.summary {
  /*border: 2px solid black;*/
  /*height: 27em; /* 350 px */
  width: 100%;
  background-color: #13aff0;
  color: #fff;
}

.summary .container {
  /*border: 2px solid blue;/*
  position: relative;
  /*top: 4em; /* 60px*/
  padding: 4em 0 6em 0;
  text-align: center;
  width: 60%; /* width: 800px; */
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  .summary .container {
    width: 90%;
  }
}

h2 {
  font-size: 2.25em; /* 26px */
}

.summary p {
  text-align: left;
  margin-top: 30px;
  font-size: 1.4em; /* 18px */
}

h2::after {
  content: " ";
  display: block;
  width: 25px;
  border: 2px solid white;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 600;
  font-size: 1.5em; /* 18px */
}

h4 {
  font-weight: 500;
  font-size: 1.4em; /* 16px */
  font-style: italic;
}

.education {
  /*border: 2px solid black; */
  /*height: 43em; /* 500px */
  text-align: center;
}

.education h2::after {
  border: 2px solid #13aff0;
  margin-bottom: 30px;
}

.education .container {
  /*border: 2px solid blue; */
  width: fit-content;
  position: relative;
  /*top: 5em; /* 60px */
  margin: 0 auto;
  padding: 4em 0 5em 0;
}

.education .flex-container {
  display: flex;
  flex-direction: column;
}

.education .school {
  /*border: 2px solid black;*/
  position: relative;
  text-align: left;
  padding: 10px 10px;
  width: fit-content; /* 55% / 600px*/
  min-height: 10em; /* 125px / 10em*/
  height: fit-content;
  /*box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);*/
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 2em 0;
  /*
  left: 50%;
  transform: translate(-50%, 0);*/

  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

@media screen and (max-width: 650px) {
  .education .school {
    width: min-content;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .education .icon {
    margin-bottom: 1em;
  }
}

.education ul {
  /* border: 2px solid purple; */
  /* height: 50%; */
  list-style: circle inside black;
  padding: 0.6em 1.6em; /* 20px */
  font-size: 1.25em;
}

.education li {
  width: 100%; /* 400px */
}

.education .text {
  /*display: inline-block;*/
  vertical-align: top;
  /*border: 2px solid blue;*/
  position: relative;
  width: 28em;
  height: 100%;
}

.education .icon {
  position: relative;
  /*display: inline-block;*/
  /*border: 2px solid green;*/
  min-height: 100%;
  height: 100%;
  width: fit-content;
  align-self: center;
}

.education .icon img {
  border-radius: 50%;
  position: relative;
  margin: 0 10px;
  max-width: 9em; /* 120 px / 8em*/
}
/*
@media screen and (max-width: 650px) {
  .education .icon img {
    display: none;
  }
}*/

.skills {
  /*height: 55em; /* 700px */
  /*border: 2px solid red; */
  text-align: center;
}

.skills h4 {
  font-size: 1.4em;
  font-style: normal;
  font-weight: 500;
}

.skills .container {
  position: relative;
  /*top: 60px;
  height: 85%;*/
  padding: 4em 0 6em 0;
  max-width: 80em; /* 75% 80em */
  width: fit-content;
  margin: 0 auto;
  /*border: 2px solid blue;*/
}

.skills h2::after {
  border: 2px solid #13aff0;
}

.skills .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skills .skill {
  /*border: 2px solid green;*/
  position: relative;
  width: fit-content; /*35% / 30em / 26em*/
  /*height: fit-content; /* 80px / 6.7em 6em*/
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 15px;
}

/*
@media screen and (max-width: 650px) {
  .skills .skill {
    width: 24em;
  }
}*/

.skill .text {
  max-width: 5em;
  margin-top: 0.5em;
  overflow-wrap: break-word;
}

/*
.skills .text {
  display: inline-block;
  /*border: 2px solid black;
  width: 25%;
  height: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
}*/
/*
.skills img {
  height: 3.5em;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}
*/
/* .skills .bar {
  position: relative;
  display: inline-block;

  top: 50%;
  transform: translateY(-50%);

  /*border: 2px solid purple;
  height: 35px;
  width: 18em; /* 65% / 18em 
  display: inline-block;
  background-color: #f0f0f2;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

@media screen and (max-width: 650px) {
  .skills .bar {
    width: 15em;
  }
} 

.skills .bar-inner {
  position: relative;
  height: 100%;
  background-color: #13aff0;
  border-radius: 9px;
}

.skills .bar-inner::after {
  position: absolute;
  right: 2.5%;
  font-size: 1.2em;
  font-weight: bold;
  top: 50%;
  transform: translate(0, -50%);
  color: #fff;
  content: attr(data);
}

.skills #python .bar-inner {
  width: 70%;
}
.skills #java .bar-inner {
  width: 65%;
}
.skills #c .bar-inner {
  width: 50%;
}
.skills #javascript .bar-inner {
  width: 45%;
}
.skills #react .bar-inner {
  width: 35%;
}
.skills #next .bar-inner {
  width: 30%;
}
.skills #html .bar-inner {
  width: 40%;
}
.skills #css .bar-inner {
  width: 40%;
}
.skills #sql .bar-inner {
  width: 50%;
}
.skills #graphql .bar-inner {
  width: 45%;
}
*/
.projects {
  /* border:2px solid black; */
  height: auto; /* 1200 px*/
  text-align: center;
}

.projects h2::after {
  border: 2px solid #13aff0;
}

.projects .container {
  /*border: 2px solid blue;*/
  max-width: 90em; /* 60% */
  width: fit-content;
  position: relative;
  padding: 4em 1em;
  /* top: 4em; /* 60px */
  margin: 0 auto;
}

.projects .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.projects .proj {
  background-color: #13aff0;
  color: #fff;
  box-shadow: 0px 0px 0px 0px white;
  border-radius: 5px;
  width: 25em; /* 300px  */
  /* 475px */
  margin: 10px 10px;
  padding: 15px 15px;
  /*display: inline-block;
  vertical-align: top;*/
  position: relative;
  transition: box-shadow 0.3s;
}

.projects .proj:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.3s;
}

.projects h4 {
  margin-bottom: 1.5em; /* 20px */
}

.projects h4::after {
  content: " ";
  display: block;
  width: 15px;
  border: 2px solid white;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.proj p {
  height: 12em; /* 180px*/
  font-size: 1.3em;
}

.projects img {
  height: 150px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.projects a img {
  border-radius: 50%;
  height: 35px;
  position: relative;
  top: 15px;
  box-shadow: 0px 0px 0px 0px #fff;
  transition: box-shadow 0.2s;
  margin: 10px 10px;
}

.projects a img:hover {
  box-shadow: 0px 0px 5px 2px #fff;
  transition: box-shadow 0.2s;
}

.experience {
  /*border: 2px solid black; */
  /*height: 44em; /* 525px */
  background-color: #f9f9f9;
}

.experience h2::after {
  border: 2px solid #13aff0;
}

.experience .container {
  /*border: 2px solid blue; */
  width: fit-content;

  position: relative;
  /*top: 60px;*/
  text-align: center;
  margin: 0 auto;
  padding: 5em 0;
}

.experience .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.experience .exp {
  width: 30em; /* 28% /30em*/
  /*height: 26em; /* 350px*/
  vertical-align: top;
  padding: 10px 10px;
  margin: 10px 20px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

#robotics {
  display: none;
}

@media screen and (max-width: 650px) {
  .experience .flex-container {
    flex-direction: column;
  }
  .experience .exp {
    width: 20em;
  }
}

.experience .exp p {
  font-size: 1.3em;
}

.experience h4::after {
  content: " ";
  display: block;
  width: 15px;
  border: 2px solid #13aff0;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.experience img {
  position: relative;
  /*margin: 10px 10px;*/
  height: 8em; /* 100px */
  margin: 10px 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

footer {
  /*border: 2px solid blue;*/
  height: 16em; /* 200px */
  width: 100%;
  background-color: #111;
  color: #fff;
}

footer .container {
  /*border: solid 2px green;*/
  position: relative;
  top: 1em;
  height: 10em;
  margin: 0 auto;
  text-align: center;
}

footer h3::after {
  content: " ";
  display: block;
  width: 25px;
  border: 2px solid #13aff0;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

footer p {
  font-size: 1.2em;
}

footer img {
  /*height: 3em; /* 30% */
  width: 3em;
  /*height: 3.5em; /*40px */
  border-radius: 50%;
  margin: 0 10px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
  transition: box-shadow 0.2s;
}

footer img:hover {
  box-shadow: 0px 0px 5px 2px rgba(19, 175, 240, 1);
  transition: box-shadow 0.2s;
}

footer a {
  /*border: 2px solid red;*/
  display: inline-block;
  width: 5em;
  vertical-align: top;
}

footer .copyright {
  text-align: center;
  width: 100%;
  position: relative;
  top: 25px;
}
